@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">

            <div id="main-content">
                <div class="row" style="text-align: center;">
                    <h2>Kitapların okunma yüzdesi</h2>
                    <div class="stat-content">
                        <div class="stat-widget-seven">
                            <div class="gradient-circle" id="visitor-circle">
                                <i><h4>%73</h4></i>
                            </div>
                        </div>
                        <div class="gradient-circle" id="visitor-circle"></div>
                        <div class="stat-footer">
                            <div class="row m-0"></div>
                        </div>
                    </div>
                    <h2>Toplam kitap sayısı: 123</h2>
                    <h2>Okunan kitap sayısı: 12</h2>
                    <h2>Emannetteki kitap sayısı: 3</h2>
                </div>
                <!-- /# row -->

                <br>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>Son Okunan kitaplar</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Kitap Adı</th>
                                                <th>Yazar</th>
                                                <th style="text-align: center;">Değerlendirme Puanı</th>
                                                <th style="text-align: right;"> Bitiriş Tarihi </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="color: white;">1</th>
                                                <td><a href="">Ateşten gömlek</a></td>
                                                <td><a href="">Halide</a></td>
                                                <td style="text-align: center;"><span class="badge badge-success">8</span></td>
                                                <td style="color: white;">12 Temmuz 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="color: white;">2</th>
                                                <td><a href="kitap2.html">Cin Ali</a></td>
                                                <td><a href="">Ali Cin</a></td>
                                                <td style="text-align: center;"><span class="badge badge-danger">3</span></td>
                                                <td style="color: white;">23 Haziran 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="color: white;">3</th>
                                                <td><a href="">Bir cihazetin hikayesi</a></td>
                                                <td><a href="">Osqano</a></td>
                                                <td style="text-align: center;"><span class="badge badge-success">10</span></td>
                                                <td style="color: white;">9 Mayıs 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="color: white;">4</th>
                                                <td><a href="">Süt dilimi</a></td>
                                                <td><a href="">İsmük</a></td>
                                                <td style="text-align: center;"><span class="badge badge-success">10</span></td>
                                                <td style="color: white;">21 Nisan 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="color: white;">5</th>
                                                <td><a href="">Yandım Anam</a></td>
                                                <td><a href="">YAnan</a></td>
                                                <td style="text-align: center;"><span class="badge badge-success">8</span></td>
                                                <td style="color: white;">12 Mart 2020</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-6">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>Bitirmeyi beklenenler</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Kitap Adı</th>

                                                <th style="text-align: center;">Yazar</th>
                                                <th style="text-align: right;"> Başlama Tarihi </th>
                                                <th style="text-align: right;">Kaç gün geçti</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row" style="color: white;">1</td>
                                                <td><a href="">Sıkkın hayat</a></td>
                                                <td><a href="">Sıkılgan Yazar</a></td>
                                                <td style="color: white;">23 Nisan 2023</td>
                                                <td style="color: white;">366</td>

                                            </tr>
                                            <tr>
                                                <td scope="row" style="color: white;">2</td>
                                                <td><a href="">Bunaldım laaa</a></td>
                                                <td><a href="">Bunalmış Yazar</a></td>
                                                <td style="color: white;">23 Mart 2023</td>
                                                <td style="color: white;">397</td>
                                            </tr>
                                            <tr>
                                                <td scope="row" style="color: white;">3</td>
                                                <td><a href="">Bıhtık yaaa</a></td>
                                                <td><a href="">Bıkkın Yazar</a></td>
                                                <td style="color: white;">23 Mart 2024</td>
                                                <td style="color: white;">31</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>Bu sayfa Şu tarihte yenilenmiştir: <span id="date-time"></span> <a href="#" class="page-refresh">Sayfayı Yenile</a></p>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
            </div>
        </div>
    </div>
</div>
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>